__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/

# Streamlit and system files
.streamlit/

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
